@{
    ViewData["Title"] = "Index";
}
<frameset rows="98,*" cols="*" framespacing="0" frameborder="0" border="0">
    <frame src="/Roles/Top" name="topFrame" scrolling="NO" noresize>
        <frameset rows="*" cols="206,*" framespacing="0" frameborder="0" border="0">
            <frame src="/Roles/Left" name="leftFrame" scrolling="yes" frameborder="0">
            <frame id="mainFrame" src="/Roles/Main" name="mainFrame" scrolling="auto" />
        </frameset>
</frameset>
<noframes>
    <body>
    </body>
</noframes>

